@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
}



:root {
    --nav-txt-color: rgb(0, 255, 85);
    --logo-color: red;
    --menu-color: rgb(85,83,83);
    --c-color:  rgb(0, 247, 255);
    --e-color: rgb(0, 255, 85);
    --b-color: orange;
    --m-color: yellow;
    --b-color: red;
    --f-color: #bc13fe;;
    --a-color: rgb(255, 81, 0);
    --ha-color: rgb(85, 83, 83);
    --d-color: rgb(0, 191, 255);
}

html, body {    
    width: 100%;
    height: 100vh;
    background: black;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.main-div {
    padding: 1rem;
}



header a {
    float: left;
}

.logo {
    height: 70px;
    border-radius: 10px;
    box-shadow:  
    0 0 .4rem #fff,
    0 0 .4rem #fff,
    0 0 3rem var(--logo-color),
    0 0 0.8rem var(--logo-color),
    0 0 1.4rem var(--logo-color);
}

.header-div ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: 50px;
}

.header-div ul li a {
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: 1px;
    color: white;
}


.hover-list {
    background-color: #1e1e1e;
    border-radius: 20px;
}

.hover-list:hover{
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    box-shadow:  
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem var(--nav-txt-color),
    0 0 0.7rem var(--nav-txt-color),
    0 0 1.3rem var(--nav-txt-color),
    inset 0 0 1rem var(--nav-txt-color);
}

.logout {
    flex: 0.5;
}

header li {
    flex: 1;
    text-align: center;
    margin: auto 1rem;
}

header li a{   
    padding: .6rem;
    display: inline-block;
    width: 100%;
}

.searchListItem {
    flex: 4;
    position: relative;
}

#livesearch {
    background-color: white;
    color: black;
    position: absolute;
    top: 120%;
    left: 11%;
    width: 350px;
    overflow-wrap: break-word;
    z-index: 1000;
    /* border: 5px solid black; */
    /* border-radius: 10px; */
    /* box-shadow: inset 0 0 1rem yellow; */
    /* outline: 2px black; */
}

#livesearch a {
    color: blue;
    text-decoration: none;
    border: 1px solid rgb(95, 95, 95);
    border-top: 0px;
}   

#livesearch a:hover {
    background-color: #d3d3d3;
}

.searchListItem div button {
    padding: .2rem;
    font-size: 1.05rem;
    border-radius: 5px;
}

#searchQuery {
    width: 65%;
    height: 2rem;
    border-radius: 6px;
    border-color: transparent;
    padding: .5rem;
    font-size: 1.1rem;
}

button {
    background-color: orange;
    border:none;
    height: 2rem;
    width: 3rem;
}


#present {
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    box-shadow:  
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem var(--a-color),
    0 0 0.7rem var(--a-color),
    0 0 1.3rem var(--a-color),
    inset 0 0 1rem var(--a-color);
}

.hover-list:hover, #present:hover {
    cursor: pointer;
}








/* -----------------------menu css------------------------------- */




.carousel-main {
    position: relative;
    width: 100%;
    height: 30rem
}

.leftArrow, .rightArrow {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top:40%;
}

.leftArrow {
    left: 1%;
}

.rightArrow {
    right: 1%;
}

.leftArrow:hover, .rightArrow:hover {
    cursor: pointer;
}

.carousel-div {
    width: 80vw;
    height: 100%;
    position: relative;
    margin: 3rem auto;
}

.carousel-div img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 .3rem #fff,
    0 0 .3rem #fff,
    0 0 4rem var(--c-color),
    0 0 1rem var(--c-color),
    0 0 1.2rem var(--c-color);
}

#carousel1, #carousel2, #carousel3, #carousel4, #carousel5 {
    display: none;
} 

.carousel {
    animation: fade 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 









/* ------------------------------menu------------------------------ */

.menus {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: 38vh;
    min-height: 13rem;
    background: linear-gradient(#4d4d4d, #000);
    border-radius: 15px;
    padding: 1rem 2rem;
    box-shadow: 0 0 1rem #fff,
    0 0 1rem #fff,
    0 0 4rem var(--menu-color),
    0 0 1rem var(--menu-color),   
    0 0 1.6rem var(--menu-color),
    inset 0 0 1rem var(--menu-color)
}

.menus div {
    position:relative;
    flex: 1;
    width: 100%;
    height: 25vh;
    margin: 1rem;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

.menus  div img{
    position: relative;
    width: 100%;
    height: 25vh;
    border-radius: 10px;    
    transition: transform 0.5s;
}

.menus div p {
    text-align: center;
    position: absolute;
    color: white;
    bottom: -35px;
}

.menus div img:hover {
    transform: scale(1.1);
}






/* -----------------------furnitures----------------------- */



.furniture, .bike, .antiques, .ha,.elec {
    margin: 0 auto;
    height: 25rem;
    width: 95%;
    border-radius: 15px;
}

.furImages, .bikeImages, .antiquesImages, .haImages, .elecImages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.furniture h1, .bike h1 , .antiques h1, .ha h1, .elec h1{
    text-align: center;
    padding: 2rem 2rem 0 2rem;
    font-size: 3rem;
}

.furImages div , .bikeImages div , .antiques div , .ha div , .elec div {
    margin: 1rem;
}

.furImages div img, .bikeImages div img, .antiques div img, .ha div img, .elec div img{
    height: 15rem;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.5s;
}

.furImages div img:hover, .bikeImages div img:hover, .antiquesImages div img:hover, .haImages div img:hover, .elecImages div img:hover {
    transform: scale(1.1);
}

.furniture {
    background-color: #bc13fe;;
    box-shadow: 0 0 .4rem #fff,
    0 0 .4rem #fff,
    0 0 4rem var(--f-color),
    0 0 1rem var(--f-color),
    0 0 1.6rem var(--f-color);
}

.bike {
    background: linear-gradient(#ff5a5f,rgb(228, 0, 49));
    box-shadow: 0 0 .6rem #fff,
    0 0 .6rem #fff,
    0 0 5rem var(--b-color),
    0 0 1rem var(--b-color);
}

.antiques {
    background: linear-gradient(#fa713a,rgb(255, 81, 0));
    box-shadow: 0 0 .4rem #fff,
    0 0 .4rem #fff,
    0 0 4rem var(--a-color),
    0 0 1rem var(--a-color),
    0 0 1.6rem var(--a-color);
}

.ha {
    background-color: #a1a1a1;
    box-shadow: 0 0 1rem #fff,
    0 0 1rem #fff,
    0 0 4rem var(--ha-color),
    0 0 1rem var(--ha-color),   
    0 0 1.6rem var(--ha-color);
}

.elec {
    background: linear-gradient(#19b5d4e7,rgb(0, 119, 255));
    box-shadow: 0 0 0.4rem #fff,
    0 0 0.4rem #fff,
    0 0 4rem var(--d-color),
    0 0 1rem var(--d-color),   
    0 0 1.6rem var(--d-color);
}









/* --------------------------footer------------------------- */




.space {
    height: 7rem;
}

footer {
    margin-top: 8rem;
    background-color: #1e1e1e;
    height: 200px;
    width: 100%;
}

footer i {
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.links {
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.links a {
    text-decoration: none;
}

footer p {
    color: white;
    margin-left: 10vw;  
    margin-bottom: 1rem;
}

.made {
    padding-top: .5rem;
    text-align: center;
}

.made i {
    padding-left: 1.5rem;
    color: red;
    font-size: 3rem;
    text-shadow:  
    0 0 .4rem #fff,
    0 0 .4rem #fff,
    0 0 2rem red,
    0 0 0.7rem red,
    0 0 1.3rem red
}

footer span {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}