@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins' , sans-serif
}



:root {
    --register-box-bg-color: black;
    --neon-color: #bc13fe;
    --logo-color: red;
    --txt-style : 'Open Sans', sans-serif;
    --txt-style : 'Poppins', sans-serif;
}

color {
    color: #c93838;
}

html, body {
    background: #191919;
    width: 100%;
    padding: 0 2rem;
}

.main-div {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
    margin: 2rem 0;
}

.logo img {
    width: 90%;
    background-color: black;
    border-radius: 20px;
    box-shadow:  
    0 0 .4rem #fff,
    0 0 .4rem #fff,
    0 0 3rem var(--logo-color),
    0 0 0.8rem var(--logo-color),
    0 0 1.4rem var(--logo-color),
    inset 0 0 1rem var(--logo-color)
}

.title {
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem var(--neon-color),
    0 0 0.8rem var(--neon-color),
    0 0 2.8rem var(--neon-color);
    margin-bottom: 2rem;
}

.register-form  {
    /* margin: 0 3rem; */
    background-color: var(--register-box-bg-color);
    line-height: 1rem;  
    border-radius: 20px;
    min-width: 200px;
    width: 80%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem var(--neon-color),
        0 0 0.8rem var(--neon-color),
        0 0 2.8rem var(--neon-color),
        inset 0 0 1.3rem var(--neon-color);   
}

.register-form .register-box {
    margin: 2rem;
    padding: 1rem;
}

input[type='text'] , input[type='password'] , input[type='email']{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--txt-style);
    font-weight: 500;
    margin-top: .8rem;
}

.register-box div {
    margin-top: 1rem;
}

.register-btn-field {
    text-align: center;
}   

.register-btn {
    padding: 0.7rem 1.3rem;
    border-radius: 10px;
    border-color: transparent;
    background: var(--neon-color);
    font-family: var(--txt-style);
    font-size: 1rem;
    font-weight: bold;
}

.register-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem var(--neon-color),
        0 0 0.8rem var(--neon-color),
        0 0 1rem var(--neon-color)
}

p {
    color: white;
    font-family: var(--txt-style);
}

.register-field a {
    text-decoration: none;
}

.register-field a p {
    padding: 0 0 1rem 0;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    font-size: .9rem;
}

.register-field a p:hover {
    color: white;
}

@media screen and (min-width: 550px) {
    .register-form {
        width: 60vw;
    }
}

@media screen and (min-width: 700px) {
    .register-form {
        width: 50vw;
    }
    
}

@media screen and (min-width: 1000px) {
    .register-form {
        width: 40vw;
    }
}


