@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}    



:root {
    --nav-txt-color: rgb(0, 255, 85);
    --logo-color: red;
    --menu-color: rgb(85,83,83);
    --c-color: rgb(252, 164, 0);
    --e-color: rgb(0, 255, 85);
    --b-color: orange;
    --m-color: yellow;
    --b-color: red;
    --f-color: #bc13fe;;
    --a-color: rgb(255, 81, 0);
    --ha-color: rgb(85, 83, 83);
    --d-color: rgb(0, 191, 255);
}

html, body {    
    width: 100%;
    height: 100vh;
    background: black;
    /* font-family: 'Roboto', sans-serif; */
}

header a {
    float: left;
}

.logo {
    height: 70px;
    border-radius: 10px;
    box-shadow:  
    0 0 .4rem #fff,
    0 0 .4rem #fff,
    0 0 3rem var(--logo-color),
    0 0 0.8rem var(--logo-color),
    0 0 1.4rem var(--logo-color);
}

.header-div ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: 50px;
}

.header-div ul li a {
    text-decoration: none;
    font-size: .8rem;
    letter-spacing: 1px;
    color: white;
}

.hover-list {
    background-color: #1e1e1e;
    border-radius: 20px;
}

.hover-list:hover{
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    box-shadow:  
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem var(--nav-txt-color),
    0 0 0.7rem var(--nav-txt-color),
    0 0 1.3rem var(--nav-txt-color),
    inset 0 0 1rem var(--nav-txt-color);
}

.logout {
    flex: 0.5;
}

header {
    background-color: black;
    height: 85px;
    position: sticky;
    padding: 1rem;
    top: 0;
}

header li {
    flex: 1;
    text-align: center;
    margin: auto 1rem;
}

header li a{   
    padding: .6rem;
    display: inline-block;
    width: 100%;
}

.searchListItem {
    flex: 4;
    position: relative;
}

#livesearch {
    background-color: white;
    color: black;
    position: absolute;
    top: 120%;
    left: 11%;
    width: 350px;
    overflow-wrap: break-word;
    z-index: 1000;
}

#livesearch a {
    color: blue;
    text-decoration: none;
    border-bottom: 1px solid rgb(95, 95, 95);
}   

#livesearch a:hover {
    background-color: #d3d3d3;
}

.searchListItem div button {
    padding: .2rem;
    font-size: 1.05rem;
    border-radius: 5px;
}

#searchQuery {
    width: 65%;
    height: 2rem;
    border-radius: 6px;
    border-color: transparent;
    padding: .5rem;
    font-size: 1.1rem;
}

button {
    background-color: orange;
    border:none;
    height: 2rem;
    width: 3rem;
}

#present {
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    box-shadow:  
    0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem var(--a-color),
    0 0 0.7rem var(--a-color),
    0 0 1.3rem var(--a-color),
    inset 0 0 1rem var(--a-color);
}

.hover-list:hover, #present:hover {
    cursor: pointer;
}







/* -------------------------------form---------------------------------- */

.sellProductForm label {
    color: white;
    margin-top: 2rem;
}


.sell-div {
    margin-top: 6rem;
}

.sellProductForm  {
    background-color: #1e1e1e;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1rem;  
    border-radius: 20px;
    min-width: 250px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem var(--c-color),
        0 0 0.8rem var(--c-color),
        0 0 2.8rem var(--c-color),
        inset 0 0 1.3rem var(--c-color);   
}

input[type='text'] , textarea, input[type='number'], input[type='datetime-local'], input[type='file'], #category {
    width: 100%;
    border-radius: 5px;
    border-color: transparent;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: .8rem;
}

input[type='file'] {
    color: white;
}

input[type='submit'] {
    text-align: center;
    margin: 2rem 1rem 1rem 1rem;
    padding: 0.7rem 1.3rem;
    border-radius: 10px;
    border-color: transparent;
    background: var(--c-color);
    font-size: 1rem;
    font-weight: bold;
}

input[type='submit']:hover {
    cursor: pointer;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem var(--c-color),
        0 0 0.8rem var(--c-color),
        0 0 1rem var(--c-color)
}

.sellProductForm label {
    color: white;
}

@media screen and (min-width: 550px) {
    .sellProductForm {
        width: 60vw;
    }
}


@media screen and (min-width: 1000px) {
    .sellProductForm{
        width: 50vw;
    }
}





/* -------------------------------footer--------------------------------- */







.space {
    height: 7rem;
}

footer {
    margin-top: 8rem;
    background-color: #1e1e1e;
    height: 200px;
    width: 100%;
}

footer i {
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.links {
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}

.links a {
    text-decoration: none;
}

footer p {
    color: white;
    margin-left: 10vw;  
    margin-bottom: 1rem;
}

.made {
    padding-top: .5rem;
    text-align: center;
}

.made i {
    padding-left: 1.5rem;
    color: red;
    font-size: 3rem;
    text-shadow:  
    0 0 .4rem #fff,
    0 0 .4rem #fff,
    0 0 2rem red,
    0 0 0.7rem red,
    0 0 1.3rem red
}

footer span {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}